{% load static %}
{% load extras %}

{% load el_pagination_tags %}


{% paginate todo_tasks %}
{% for task in todo_tasks %}
<div class='task'>
    <input type="checkbox" class="taskCheckbox" name="id_to_delete" id="{{ task.id }}" value="{{ task.id }}">
    <div>
        {{ task.name }}
    </div>
    <div class='sub'>
        {{task.description}}
    </div>
    <div class='sub'>
        {{ task.due_date}}
    </div>
    <div class='sub'>
        {{ task.priority|convert_priority}}
    </div>
</div>
{% endfor %}
{% show_more "more" %}