{% load static %}
{% load extras %}
{% load el_pagination_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
</head>
<body>
    <div django-app="TaskManager">        
        <div class="container">
            <div class="content">
                <h6> Try adding a task! </h6>
                <form action="" method="post">
                    {% csrf_token %} <!-- csrf token for basic security -->
                    <div>
                        <input type="text" id="name" class="taskName" placeholder="Name of task" name="name" required>
                        <label for="name">Name</label>
                    </div>
                    <div>
                        <input type="text" id="description" class="taskDescription" placeholder="What do you need to do?" name="description" required>
                        <label for="description">Description</label>
                    </div>
                    <div>

                        <input id="category" class="taskCategory" name="category" list='categories'>
                            <datalist id='categories'>
                                {% for category in categories %}
                                    <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            </datalist>
                        <i class="fa fa-caret-down selectArrow"></i>
                        <label for="category">Category</label>
                    </div>
                    <div>
                        
                        <input id="person" name="person" list = 'people'>
                        
                            <datalist id='people'>
                                {% for person in people %}
                                    <option value="{{ person.name }}"> {{ person.name }} </option>
                                {% endfor %}
                            </datalist>
                        <i class="fa fa-caret-down selectArrow"></i>
                        <label for="person">Person</label>
                    </div>
                    <div>
                        <input type="datetime-local" id="dueDate" name="date">
                        <label for="dueDate">Due Date</label>
                    </div>
                    <div class="inputContainer">
                        <select type="number" id="priority" placeholder="priority" name="priority"  required>
                                {% for priority in priorities %}
                                    <option value="{{ priority }}"> {{ priority|convert_priority}} </option>
                                {% endfor %}
                        </select>
                        <label for="priority">Priority</label>
                    </div>
                    <div>
                        
                        <button class="add_task" name="add_task" type="submit"><i class="fa fa-plus"></i>Add task</button>
                        <button class="delete_task" name="delete_task" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                    </div>
                    <h2>Todo list!</h2>
                    <h6>Created by Patrick Wang</h6>
                    <div  style='margin-bottom: 20px;'> Scroll down to load more items! </div>
                    <table style='width: 100%' class='table'>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Person</th>
                            <th>Created date</th>
                            <th>Due date</th>
                            <th>Priority</th>
                        </tr>
                        {% include 'category_template.html' %}
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>